html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.welcome-pick-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 200px;
}

.welcome-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.button {
     margin: 0 20px;
     background-color: #042304;
     border: 0px;
     color: #E4E1D9;
     font-family: "Instrument Sans";
     font-size: 30px;
     font-style: normal;
     font-weight: 700;
     padding: 25px 45px;
     border-radius: 20px;

}

.main-header {
    color: #042304;
    font-family: "Instrument Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.welcome-text {
    margin-bottom: -15px;
}

.subheading {
    color: #042304;
    font-family: "Instrument Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*this prob looks weird on diff computers ): need to fix */
.buildings {
    width: 100%;
    height: auto;
    position: relative;
    bottom: -31px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}